* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-decoration: none;
}

@font-face {
  font-family: "Arial";
  font-style: normal;
  font-weight: normal;
  src: url("../../assets/fonts/Arial.woff");
}

@font-face {
  font-family: "Georgia";
  font-style: normal;
  font-weight: normal;
  src: url("../../assets/fonts/Georgia.woff");
}

.btn {
  /*padding: 15px 45px;
  */
  width: 207px;
  height: 52px;
  /*color-primary*/
  background: #f1cdb3;
  border-radius: 100px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  -ms-border-radius: 100px;
  -o-border-radius: 100px;
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 130%;
  /* identical to box height, or 22px */

  letter-spacing: 0.06em;

  /* color-dark-3xl */

  color: #292929;
  border: none;
}

.btn:hover {
  cursor: pointer;
  background: #fddcc4;
}

.btn__gray {
  background-color: transparent;
  width: 54px;
  height: 54px;
  border: 2px solid #cdcdcd;
  border-radius: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn__active {
  background-color: #fddcc4;
  width: 54px;
  height: 54px;
  border: 2px solid #f1cdb3;
  border-radius: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  max-width: 1280px;
  margin: 0 auto;

  background: #ffffff;
}

.header {
  max-width: 1200px;
  /* background-color: azure; */
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 40px 0px;
}

.logo__title {
  align-items: center;
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 110%;
  /* color-primary */

  color: #292929;
  margin-bottom: 10px;
}

.logo__subtitle {
  font-family: "Arial";
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 15px;
  /* identical to box height */

  letter-spacing: 0.1em;

  /* color-light-xl */

  color: #292929;
}

.nav-menu {
  display: flex;
  flex-direction: row;
}

.nav-menu__list {
  margin: 16px 0px 20px 35px;
}

.selected {
  color: #fafafa;
  border-bottom: solid 3px #f1cdb3;
}

.nav-menu__list:hover {
  color: #fafafa;
  border-bottom: solid 3px #f1cdb3;
}

.nav-menu__list:first-child {
  margin-left: 0px;
}

.nav-menu__list a {
  /* paragraph-l */

  font-family: "Arial";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 160%;
  /* identical to box height, or 24px */

  /* color-dark-s */

  color: #292929;
}

.humburger {
  display: none;
}

.sidebar {
  display: none;
}

.pets-container {
  max-width: 1280px;
  text-align: center;
  padding: 80px 40px 100px 40px;
  background: #f6f6f6;
}
.about-content__heading {
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 35px;
  line-height: 130%;
  /* or 45px */
  max-width: 370px;
  letter-spacing: 0.06em;

  /* color-dark-l */
  text-align: center;
  color: #545454;
}
.pets-content {
  display: flex;
  flex-direction: column;
}

.pets-heading {
  margin: 0 auto;
}

.pets-slider {
  margin: 60px 0px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.pets-card {
  text-align: center;
  background: #ffffff;
  padding-bottom: 30px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.pets-card:hover {
  box-shadow: 5px 5px 15px 5px rgba(56, 44, 3, 0.79);
}

.pets-card:hover .btn {
  background: #fddcc4;
}

.pets-card__title {
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  /* identical to box height */

  margin: 30px 0px;
  letter-spacing: 0.06em;

  /* color-dark-l */

  color: #545454;
}

.pets-arrov {
  background-color: transparent;
  width: 54px;
  height: 54px;
  border: 2px solid #f1cdb3;
  border-radius: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  column-gap: 20px;
}
/* footer */
.footer {
  max-width: 1280px;
  padding: 40px 40px 0px 40px;
  background: url(noise_lines_transparent@2X.png),
    radial-gradient(110.67% 538.64% at 5.73% 50%, #513d2f 0%, #1a1a1c 100%)
      /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */,
    #211f20;
  margin: 0 auto;
}

.footer-info {
  gap: 40px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}

.footer-content {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: space-between;
}

.footer-contacts {
  width: 278px;
}

.footer-locations {
  width: 302px;
}

.footer-text {
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 115%;
  /* identical to box height, or 23px */

  letter-spacing: 0.06em;

  /* color-primary */

  color: #f1cdb3;
  margin-left: 20px;
}

.contacts-title {
  width: 279px;

  /* h3 */

  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 35px;
  line-height: 130%;
  /* or 45px */

  letter-spacing: 0.06em;

  /* color-light-xl */

  color: #ffffff;
}

.footer_email {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 43px 0px;
}

.footer_phone {
  display: flex;
  flex-direction: row;
  align-items: center;
}

@media screen and (max-width: 1279px) {
  .pets-slider {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 40px;
    row-gap: 30px;
    justify-items: center;
  }

  .footer-content {
    flex-direction: column;
  }
  .footer-puppy {
    text-align: center;
  }
}

@media screen and (max-width: 768px) {
  .nav-menu {
    display: none;
  }

  .humburger {
    display: block;
    width: 30px;
    height: 22px;
    border: 0;
    border-top: 2px solid #000000;
    margin: 24px;
    background: transparent;
    z-index: 5;
    transition: transform 0.5s;
    cursor: pointer;
    position: relative;
  }

  .rotate {
    transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
  }

  .humburger::after {
    content: "";

    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    border-top: 2px solid #000000;
    transform: translateY(8px);
    -webkit-transform: translateY(8px);
    -moz-transform: translateY(8px);
    -ms-transform: translateY(8px);
    -o-transform: translateY(8px);
  }

  .humburger::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    border-top: 2px solid #000000;
    transform: translateY(18px);
    -webkit-transform: translateY(18px);
    -moz-transform: translateY(18px);
    -ms-transform: translateY(18px);
    -o-transform: translateY(18px);
  }

  .sidebar {
    display: none;
    width: 320px;
    height: 100%;
    position: absolute;
    right: 0;
    background-color: #292929;
    padding: 40px 10px;
  }
  .show-sidebar {
    display: block;

    transition: all 0.2s linear;
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -ms-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
  }
  .sidebar__nav {
    margin-top: 158px;
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding: 0;
    text-align: center;
    list-style: none;
  }

  .sidebar__nav ul li a {
    text-decoration: none;
    font-family: "Arial", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 160%;
    color: #fafafa;
  }

  .sidebar__nav a.active-link {
    border-bottom: 3px solid #f1cdb3;
    padding-bottom: 4px;
  }

  .pets-slider {
    grid-template-columns: 1fr;
  }

  /* .pets-card:nth-child(2) {
    display: none;
  } */

  .pets-slider-wrapper {
    justify-content: center;
  }

  /* .arrov-mobile {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding-bottom: 50px;
  }
  .arrov-desktop {
    display: none;
  } */

  /* .help-content-list {
    grid-template-columns: repeat(2, 1fr);
  } */
}
